<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slender.mapper.FavouriteMapper">
    <select id="getList" resultType="com.slender.entity.Product">
        select product.pid, product.mid, product.cid, product.create_time, product.update_time, product.product_name,
               product.remain, product.sale_amount, product.price, product.description, product.status, product.deleted
        from product inner join favourite
        on product.pid = favourite.pid and favourite.uid = #{uid}
    </select>
</mapper>